@import '../../variables';

.card {
    display: block;
    cursor: pointer;
    margin-bottom: 1em;

    &_img {
        border-radius: 5px;
        filter: brightness(50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &_name {
        font-size: 1.5rem;
        font-family: $secondary-font;
    }
}